@font-face{
    font-family: 'CircularStd-Book';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/CircularStd-Book.woff") format("opentype");
}

*{
    box-sizing: border-box;
}

body {
    font-family: "CircularStd-Book", Arial, sans-serif;
    font-size: .875rem;
    background: #F2FAF4;
}


/* Navbar Starts Here */

.navbar{
    padding: 8px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
}

.navbar .logo{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
    color: #1875F0;
    padding-left: 35px;
}

.navbar .mr-right img{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 116px;
    top: 22px;
    cursor: pointer;
}

input[type="submit"]{
    background: #2A9E4A;
    border-radius: 60px;
    color: #FFFFFF;
    font-family: "CircularStd-Book";
    padding: 12px 40px 10px 18px;
    text-transform: uppercase;
    font-size: 0.8125em;
    letter-spacing: 0.02em;
    margin-right: 82px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover, textarea:hover{
   
}

input:focus, textarea:focus{
    outline: none;
}

/* Navbar Ends Here */

/* Overlay */
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.55); /* Black background with opacity */
    z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


/*Side Menu Starts Here*/


.sidenav::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(197, 197, 197, 0.8);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(197, 197, 197, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(197, 197, 197, 0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(197, 197, 197, 0.8); 
}


.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 90px;
    background: #ffffff;
    transition: 0s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 36px;
    padding-top: 33px;
    padding-right: 6px;
    display: none;
}


.sidenav .closebtn:hover{
    padding: 0px;
    margin: 33px 6px 0px 30px;
    background-color: #fff;
}

.open-sidenav{
    display: none;
}
.account-div{
    width: 100%;
}

.account-div{
    padding-left: 25px;
}

.account-div .account-num{
    color: #8D948F;
    margin-bottom: 5px;
}

.account-div .check-balance-link{
    margin-left: -27px;
}

.account-div .check-balance-link:hover i{
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
}

.account-div .account-bal{
    color: #2A9E4A;
    font-size: 1.4em;
    margin-bottom: 0px;
}

.account-div .account-bal i{
    font-size: 0.8em;
    margin-left: 15px;
    margin-top: 1px;
}

.account-div .account-bal i:hover{
    transition: all 0.3s ease-in-out;
    margin-left: 20px;
    cursor: pointer;
}

.sidenav hr{
    margin-top: 0px;
}


.sidenav a{
    display: block;
    color: #8D948F !important;
    text-decoration: none;
    padding: 10px 15px;
    padding-right: 0px;
    font-size: 0.845rem;
    transition: all 0s ease-in-out;
    margin-bottom: 15px;
    padding-left: 25px !important;
    cursor: pointer;
    background: none;
}

.sidenav a.active{
    background: rgba(42, 158, 74, 0.15) !important;
    border-left: 3px solid #2A9E4A;
    padding: 10px 30px 10px 10px ;
}

.sidenav a.card-body:hover{
    background: rgba(42, 158, 74, 0.15) !important;
}

.sidenav .hover:hover{
    transition: all 0.1s ease-in-out;
    padding: 10px 5px 10px 30px !important;
    background: #F4FAF6 !important;
    border-radius: 0px 30px 30px 0px;
    padding: 10px 5px 10px 25px !important;
    margin-right: 20px;
}

.accordion .card-body{
    padding: 0;
    margin: 0;
    margin-left: 45px;
    margin-top: -13px;
    margin-bottom: 15px;
}

.accordion .card-body a{
    color: #2A9E4A !important;
    margin-bottom: -5px;
}
.accordion .card-body a.fx{
    margin-left: 2px;
}


.accordion .card-body a.act{
    font-weight: bold;
}

.accordion .act{
    border-radius: 0px 30px 30px 0px;
    padding: 8px 5px 8px 25px !important;
    margin-right: 20px;
    color: #2A9E4A !important;
}

.chevron:after{
    position: absolute;
    display: inline-block;
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	height: 0.6em;
    width: 0.6em;
    right: 36px;
    color: #8D948F;
    margin-top: 9px;
	transform: rotate(315deg);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    cursor: pointer;
}
.chevron.collapsed:after{
    margin-top: 5px;
    transform: rotate(135deg);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.sidenav .utilities{
    margin-top: 30px;
    padding-left: 25px !important;
    font-weight: bold;
    color: #8D948F !important;
}

.sidenav a img{
    margin-top: -5px;
    margin-right: 10px;
    width: 20px;
}

.sidenav .sign-out{
    margin-bottom: 40px;
    color: #2A9E4A !important;
    font-weight: bold;
    text-transform: uppercase;
    display: none;
}

/*Icons styling  start*/

.home-icon{
    margin-right: 24px !important;
    
}

.sidenav .buy-airtime img{
    margin-top: -2px;
    width: 25px;
    height: 28px;
    margin-right: 20px;
}

.sidenav .buy-data img{
    width: 15px;
    height: 23px;
    margin-right: 30px;
}

.sidenav .transfer img{
    width: 20px;
    height: 16px;
    margin-right: 25px;
}

.refresh-icon {
    margin-right: 24px !important;
}

.internet-icon{
    width: 20px;
    height: 18px;
    margin-right: 25px !important;
}

.electricity-icon{
    width: 23px;
    margin-right: 25px !important;
}

.television-icon{
    width: 23px;
    margin-right: 24px !important;
    margin-left: 1px;
}

.toll-icon{
    width: 23px;
    margin-right: 24px !important;
    margin-left: 1px;
}

.tools-icon{
    width: 23px;
    margin-right: 24px !important;
    margin-left: 1px;
}

.credit-card-icon{
    width: 23px;
    margin-right: 24px !important;
    margin-left: 1px;
}

.avatar-icon{
    width: 20px !important;
    margin-right: 24.5px !important;
}

.accordion hr{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.manage-bene-text{
    margin-bottom: 40px !important;
}

/*Side Menu Ends Here*/


/*Main Page Starts Here*/

.main{
    margin: 0;
    margin-right: 10px;
    margin-left: 210px; /* Same as the width of the sidenav */
    padding: 0px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 10px;
}

.main-page-content{
    margin: 0 auto;
    width: 85%;
    margin-top: 44px;
}

.main-page-content .go-to-link{
    position: absolute;
    top: 70px;
    right: 10px;
}

.own-account-content{
    background: #FFFFFF;
    box-shadow: 1px 2px 10px rgba(79, 79, 79, 0.02);
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.modal .modal-title{
    font-family: "CircularStd-Book";
    font-size: 1.125em;
    letter-spacing: 0.06em;
    color: #42624B;
}

.main .main-page-content .modal{
    margin-top: -140px;
}

.main .modal-body{
    margin: 0;
    padding: 0;
}

.main .modal-body .carousel{
    margin-top: -30px;
    margin-bottom: -90px;
}

.main .modal-body .carousel-inner .carousel-item .account-type{
    font-family: "CircularStd-Book";
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.02em;
    color: #333333;
    font-weight: 100;
    margin-top: 10px;
    margin-left: 0;
}

.main .modal-body .carousel-inner .carousel-item .account-num{
    font-family: "CircularStd-Book";
    font-size: 0.9em;
    text-align: center;
    letter-spacing: 0.06em;
    color: #828282;
    font-weight: 100;
    margin-left: -70px;
    margin-bottom: 4px;
}

.main .modal-body .carousel-inner .carousel-item .account-bal{
    font-family: "CircularStd-Book";
    font-size: 1.375em;
    text-align: center;
    letter-spacing: 0.06em;
    color: #333333;
    font-weight: bold;
    margin-left: -58px;
}

.main .modal-body .carousel .carousel-indicators{
    position: absolute;
    top: 120px;
    margin-left: 0;
}

.main .modal-body .carousel .carousel-indicators li{
    background: rgba(42, 158, 74, 0.2);
}

.main .modal-body .carousel .carousel-indicators li.active{
    background: #2A9E4A;
}

.main .modal-body .carousel .carousel-inner{
    margin-bottom: 100px;
}

.main .modal-body .carousel .carousel-control-prev i{
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    color: #2A9E4A;
    padding: 10px 12px;
}

.main .modal-body .carousel .carousel-control-next i{
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    color: #2A9E4A;
    padding: 10px 12px;
    margin-left: -30px;
}

.own-account-content .title{
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin: 0;
    font-size: 1em;
    letter-spacing: 0.04em;
    background: #D8A408;
    color: #FFFFFF;
    width: 25%;
    -webkit-clip-path: polygon(0 0, 89% 0, 89% 100%, 0 100%);
    clip-path: polygon(0 0, 97% 0, 89% 100%, 0 100%);
    border-radius: 7px 0;
    font-weight: 600;
} 

.own-account-content hr{
    margin-top: 0px;
    border: 0.5px solid #F7EFD8;
}



.form-box hr{
    margin-top: 18px;
}

.form-box{
    margin: 0 auto;
    width: 80%;
    margin-top: 40px;
}

.form-box h6{
    color: #2A9E4A !important;
    text-align: center;
    font-size: 1.25em;
    font-weight: 500;
}

.form-box .row{
    margin: 0 auto;
    width: 100%;
}

.form-box .send{
    margin-bottom: 20px;
}

.form-box .send-receive-text{
    color: #545454;
    margin-bottom: 8px;
    font-family: "CircularStd-Book", Arial, sans-serif;
    font-weight: 500;
    font-size: 0.9em;
}

.form-box .jaiz-account-text{
    color: #333333;
    font-family: "CircularStd-Book", Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin-top: -5px;
}

.form-box .enter-your-digits{
    text-align: center;
    font-weight: 500;
    color: #333333;
    font-family: "CircularStd-Book";
    letter-spacing: 0.02em;
}

.form-box .veri-field{
    cursor: default;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 9.2em;
}

.form-box input.verify {
    display: inline-block;
    width: 50px;
    height: 46px;
    line-height: 30px;
    text-align: center;
    font-size: 1.5em;
    color: #414042;
    border: 0;
    background: #F2FDF5;
    border-radius: 3px;
    cursor: text;
    margin: 0;
    margin-right: 15px;
    padding: 0;
}

.form-box input.verify:focus{
    border-bottom: 1.5px solid #2A9E4A;
}

.form-box form .buttons{
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;
    display: flex;
}

form .btn-back{
    background: none;
    border-radius: 3px;
    border: 1.5px solid #2A9E4A;
    width: 30%;
    padding: 13px;
    color: #2A9E4A;
    font-weight: 500;
    margin-bottom: 60px;
    margin-right: 10%;
    cursor: pointer;
}

form .btn-submit{
    background: #2A9E4A;
    border-radius: 3px;
    border: none;
    width: 60%;
    padding: 13px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 60px;
    letter-spacing: 0.02em;
    cursor: pointer;
    font-family: "CircularStd-Book";
}

.modal .modal-header .modal-title{
    margin: 0;
    text-align: center;
    width: 100%;
    color: #42624B;
}

.modal .modal-body{
    margin: 0;
    text-align: center;
    padding: 60px 0px;
    font-weight: 600;
}

.modal#exampleModalCenter2 .modal-body p{
    margin-bottom: 50px;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #42624B;
    font-size: 1.135em;
}

.modal .modal-body img{
    width: 50px;
    margin-top: 8px;
    margin-bottom: 30px;
}

.modal .modal-footer{
    margin: 0 auto;
    width: 70%;
    border: none;
    margin-left: 25px;
    margin-bottom: 30px;
}

.modal .modal-footer .cancel-btn{
    background: none;
    border: 1.5px solid #2A9E4A;
    color: #2A9E4A;
    border-radius: 3px;
    padding: 12px;
    cursor: pointer;
    width: 30%;
    margin-right: 10%;
}

.modal .modal-footer .exit-btn{
    background: #2A9E4A;
    border: 1.5px solid #2A9E4A;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 12px;
    cursor: pointer;
    width: 30%;
}

/*Main Page Ends Here*/



/*Responsive Page Starts Here*/

@media screen and (min-width: 2500px){

    .form-box .row{
        margin-left: 5%;
    }

    .form-box .veri-field{
        margin-left: 41.5%;
    }

}

@media screen and (max-width: 2500px){

    .form-box .row{
        margin-left: 5%;
    }

    .form-box .veri-field{
        margin-left: 41.5%;
    }

}

@media screen and (max-width: 2384px){

    .form-box .veri-field{
        margin-left: 41%;
    }

}

@media screen and (max-width: 2200px){

    .form-box .veri-field{
        margin-left: 40%;
    }

}

@media screen and (max-width: 2044px){

    .form-box .veri-field{
        margin-left: 38.5%;
    }

}

@media screen and (max-width: 1850px){

    .form-box .row{
        margin-left: 3%;
    }

    .form-box .veri-field{
        margin-left: 37%;
    }

}

@media screen and (max-width: 1688px){

    .form-box .veri-field{
        margin-left: 37%;
    }

}

@media screen and (max-width: 1550px){

    .form-box .veri-field{
        margin-left: 36%;
    }

}

@media screen and (max-width: 1441px){

    .form-box .veri-field{
        margin-left: 34.5%;
    }

}

@media screen and (max-width: 1405px){

    .form-box .row{
        margin-left: 0%;
    }

    .form-box .veri-field{
        margin-left: 34%;
    }

}

@media screen and (max-width: 1300px){

    .form-box .row{
        margin-left: 0%;
    }

    .form-box .veri-field{
        width: 80%;
        margin-left: 32%;
    }

    .own-account-content .title{
        width: 35%;
    }

}

@media screen and (max-width: 1188px){

    .form-box .row{
        margin-left: 0%;
    }

    .form-box .veri-field{
        margin-left: 30%;
    }

}

@media screen and (max-width: 1112px){

    .form-box{
        width: 80%;
    }

    .form-box .row{
        margin-left: 0%;
    }

    .form-box .veri-field{
        margin-left: 28%;
    }

}

@media screen and (max-width: 1008px){

    .form-box .row{
        margin-left: 0%;
    }

    .form-box .veri-field{
        margin-left: 25%;
    }

    .own-account-content .title{
        width: 45%;
    }

}

@media screen and (max-width: 920px){

    .form-box .row{
        margin-left: 0%;
    }

    .form-box .veri-field{
        margin-left: 21%;
    }

    .modal{
        margin-left: 0px;
    }

}

@media screen and (max-width: 848px){

    .form-box .row{
        margin-left: 0%;
    }

    .form-box .veri-field{
        margin-left: 17%;
    }

    .own-account-content .title{
        width: 50%;
    }

}

@media screen and (max-width: 780px){

    .form-box .row{
        margin-left: 0%;
    }

    .form-box .veri-field{
        margin-left: 14%;
    }

}

@media screen and (max-width: 768px){

    .navbar-toggler{
        display: none;
    }
    
    .navbar .logo{
        margin-left: 30px;
    }
    
    .navbar-nav{
        display: none;
    }
    
    .sidenav{
        width: 0px;
        padding-top: 75px;
        z-index: 2001;
    }
    .sidenav a:hover{
        padding: 10px 0px 10px 15px;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn{
        display: block;
        padding-top: 0px;
    }
    .sidenav .closebtn:hover{
        margin: 33px 6px 0px 30px;
    }

    .open-sidenav{
        position: sticky;
        color: #8D948F;
        font-size: 28px;
        z-index: 2000;
        top: 9px !important;
        margin-top: -52px;
        left: 12px;
        display: block;
    }

    .carousel{
        width: 250px;
    }
    
    .carousel-indicators{
        margin-left: -142px;
        margin-bottom: 10px;
    }
    
    .carousel-indicators li{
        background: rgba(42, 158, 74, 0.3);
        width: 7px;
        height: 7px;
        border-radius: 50%;
    }
    .carousel-indicators li.active{
        background: #2A9E4A;
    }
    
    .sidenav .sign-out{
        display: block;
    }
    
    .main{
        margin-left: -8px; /* Same as the width of the sidenav */
        width: 100%;
    }

    .form-box .row{
        margin-left: 0%;
    }

    .form-box .veri-field{
        margin-left: 24%;
    }

}

@media screen and (max-width: 680px){

    .form-box .row{
        margin-left: 0%;
    }

    .form-box .veri-field{
        margin-left: 20%;
    }

}

@media screen and (max-width: 608px){

    .form-box{
        width: 90%;
    }

    .form-box .row{
        margin-left: 0%;
    }

    .form-box .veri-field{
        margin-left: 24%;
    }

}

@media screen and (max-width: 575px){

    .modal{
        width: 90%;
        margin-left: 25px;
    }

}

@media screen and (max-width: 560px){

    .main-page-content{
        width: 90% !important;
    }

    .form-box{
        width: 90% !important;
    }

    .form-box .veri-field{
        margin-left: 20%;
    }

    .modal .modal-footer{
        width: 95%;
        margin-left: -10px;
    }
    
    .modal .modal-footer .cancel-btn{
        width: 40%;
    }
    
    .modal .modal-footer .exit-btn{
        width: 40%;
    }

}

@media screen and (max-width: 492px){

    .form-box .veri-field{
        margin-left: 15%;
    }

    .own-account-content .title{
        width: 60%;
    }

}

@media screen and (max-width: 436px){

    .form-box .veri-field{
        margin-left: 10%;
    }

}

@media screen and (max-width: 404px){

    .modal{
        margin-left: 15px !important;
    }

    .modal-body{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .own-account-content .title{
        width: 75%;
    }

}

@media screen and (max-width: 390px){

    .form-box .veri-field{
        margin-left: 5%;
    }

}

@media screen and (max-width: 368px){

    .form-box .veri-field{
        margin-left: 9%;
    }

    .form-box input.verify {
        width: 45px;
        height: 45px;
        font-size: 1em;
        margin-right: 10px;
    }

    .form-box form .buttons{
        width: 90%;
        display: block;
    }

    form .btn-back{
        width: 100%;
        margin-bottom: 30px;
    }
    
    form .btn-submit{
        width: 100%;
    }

}

@media screen and (max-width: 344px){

    .form-box .veri-field{
        margin-left: 5%;
    }

}

@media screen and (max-width: 320px){

    .main-page-content{
        width: 98% !important;
    }

    .form-box .row{
        margin-left: 1%;
    }

    .form-box .veri-field{
        margin-left: 5%;
    }

    .own-account-content .title{
        width: 85%;
    }

}

@media screen and (max-width: 305px){

    .form-box .veri-field{
        margin-left: 3%;
    }

}

/* Responsive Page Ends Here*/